extends base.pug
include mixins/video

block content 
    nav 
        ul 
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
    h2 Welcome here you will see the trending videos

    each movie in videos 
        +video(movie)
    else 
        span.empty__message No Videos Found